@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400|Raleway:200,400|Lato:400,700');

* {
  margin: 0;
  padding: 0;
}

body {
  color: rgba(28,41,62,1);
  text-align: center;
  background: rgb(28,41,62);
  background: linear-gradient(rgba(28,41,62,1) 0%, rgba(49,54,66,0.9262079831932774) 75%, rgba(86,97,113,1) 100%);
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  transition: .3s;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

a, a:hover {
  text-decoration: none;
}

/* HEADER */

#header-photo-container {
  position: relative;
  width: 400px;
  height: 400px;
  background:linear-gradient(0deg,rgba(0,0,0,0.8),rgba(0,0,0,0)),url('images/trouni_profile.jpg');
  background-size:cover;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 0px 80px 70px -60px black;
  z-index: 1000;
}

.overlay-text {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.overlay-text h2 {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 1em;
  color: white;
  font-weight: 600;
  margin-bottom: 1em;
}

.overlay-text p {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8em;
  color: lightgrey;
  font-weight: 200;
}

#header-photo {
  border-radius: 10px;
  width: 40%;
  position: relative;
}

#header-description {
  margin-top: -2.5em;
  z-index: 100;
  position: relative;
  max-width: 500px;
  padding-top: 80px;
}

#uber-rating span {
  font-size: 2em;
}

.star-1 { transition: .3s; }
.star-2 { transition: .5s; }
.star-3 { transition: .7s; }
.star-4 { transition: .9s; }
.star-5 { transition: 1s; }

#header-description:hover .rating-star { color: gold; }

#uber-score {
  text-transform: uppercase;
}

.quote {
  font-style: italic;
  font-size: 1.2em;
  margin: 1em 0;
  /*text-align: left;*/
}

.quote-author {
  text-align: right;
}

.inline-icons li {
  display: inline-block;
  width: 30%;
}

.inline-icons li > a {
  color: rgba(28,41,62,1);
  font-size: 3em;
  transition: .3s;
}

.inline-icons li > a:hover {
  color: white;
}

.centered {
  margin: 0 auto;
}

/* SECTIONS */

.section {
  margin: 5em auto 10em auto;
  max-width: 800px;
  transition: 0.3s;
}

.section h2 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 20px;
}

.spaced-letters {
  letter-spacing: 5px;
}

.section-main {
  background-color: #EAEBED;
  padding: 50px 15%;
  border-radius: 10px;
  width: 60%;
  margin: 0 auto;
  box-shadow: 10px 61px 50px -53px rgba(0,0,0,0.9);
  z-index: 100;
  position: relative;
}

.section-secondary {
  background-color: #B5B6B7;
  padding: 20px 40px 25px 40px;
  width: 60%;
  max-width: 500px;
  /*color: white;*/
  border-radius: 0 0 10px 10px;
  /*width: 30%;*/
  box-shadow: 10px 30px 50px -25px rgba(0,0,0,0.9);
  position: relative;
  z-index: 10;
  transition: .3s;
  margin: 0 auto 0 auto;
}
#header .section-secondary {
  margin: -5em auto 0 auto;
}
#header:hover .section-secondary {
  margin: 0 auto 0 auto;
}

#header:hover {
  margin: 5em auto 5em auto;
}

.section-button {
  background-color: #ffa33b;
  background-image: linear-gradient(120deg, #ffa33b 0%, #FF2525 74%);
  font-weight: 400;
  padding: 20px;
  width: 20%;
  margin: -1.5em auto 0 auto;
  border-radius: 0 0 10px 10px;
  z-index: 1;
  position: relative;
  /*box-shadow: 10px 61px 88px -53px black;*/
  box-shadow: 0px 50px 50px -40px #FF2525, 0px 30px 100px 0px rgba(0,0,0,0.5);
  letter-spacing: 5px;
  opacity: 0.8;
  transition: .3s;
  padding-top: 3em;
  overflow: hidden;
}

.section-button:hover {
  opacity: 1;
  margin: 0 auto -1.5em auto;
  margin-bottom: -1.5em;
  box-shadow: 0px 30px 50px -30px #FF2525, 0px 30px 100px 0px rgba(0,0,0,0.5);
}

.section-button a {
  color: white;
  text-transform: uppercase;
}

.number-icons li {
  width: 30%;
  margin: 0;
}

.number-icons span {
  font-size: 3em;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.number-icons p {
  font-size: 0.8em;
  text-transform: uppercase;
}

.rounded-corners {
  border-radius: 10px;
}

.rounded-corners-bottom {
  border-radius: 0 0 10px 10px;
}

.whitish-background {
  background-color: rgb(240 240 240);
}
