@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400|Raleway:200,400');

* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background: rgb(28,41,62);
  /*background: radial-gradient(circle, rgba(28,41,62,1) 0%, rgba(49,54,66,0.9262079831932774) 35%, rgba(86,97,113,1) 100%);*/
  background: linear-gradient(rgba(28,41,62,1) 0%, rgba(49,54,66,0.9262079831932774) 75%, rgba(86,97,113,1) 100%);
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

a, a:hover {
  text-decoration: none;
}

#header-photo-container {
  position: relative;
  width: 400px;
  height: 400px;
  background:linear-gradient(0deg,rgba(0,0,0,0.8),rgba(0,0,0,0)),url('images/trouni_profile.jpg');
  background-size:cover;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 0px 80px 70px -60px black;
  z-index: 1000;
}

.overlay-text {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.overlay-text h2 {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 1em;
  color: white;
  font-weight: 600;
  margin-bottom: 1em;
}

.overlay-text p {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8em;
  color: lightgrey;
  font-weight: 200;
}

#header-photo {
  border-radius: 10px;
  width: 40%;
  position: relative;
}

#header-description {
  margin-top: -25px;
  z-index: 10;
  position: relative;
  max-width: 500px;
  padding-top: 80px;
}

#uber-rating span {
  font-size: 2em;
}

#uber-score {
  text-transform: uppercase;
}

.quote {
  font-style: italic;
  font-size: 1.2em;
  margin: 1em 0;
  /*text-align: left;*/
}

.quote-author {
  text-align: right;
}

.inline-icons li {
  display: inline-block;
  width: 30%;
}

.inline-icons li > a {
  color: white;
  font-size: 3em;
}

.inline-icons li > a:hover {
  color: rgba(28,41,62,1);
}

.centered {
  margin: 0 auto;
}

.section {
  margin: 100px auto;
  max-width: 800px;
}

.section h2 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 20px;
}

.spaced-letters {
  letter-spacing: 5px;
}

.section-main {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 50px 15%;
  border-radius: 10px;
  width: 60%;
  margin: 0 auto;
  box-shadow: 10px 61px 50px -53px rgba(0,0,0,0.9);
  z-index: 100;
  position: relative;
}

.section-secondary {
  background-color: rgba(195, 195, 195, 0.9);
  padding: 20px 40px 25px 40px;
  width: 60%;
  max-width: 500px;
  color: white;
  border-radius: 0 0 10px 10px;
  /*width: 30%;*/
  margin: 0 auto;
  box-shadow: 10px 61px 88px -53px rgba(0,0,0,0.7);
  z-index: 10;
}

.section-button {
  background-color: #ffa33b;
  background-image: linear-gradient(120deg, #ffa33b 0%, #FF2525 74%);
  font-weight: 400;
  padding: 20px;
  width: 20%;
  margin: 0 auto 100px auto;
  border-radius: 0 0 10px 10px;
  z-index: 10;
  position: relative;
  /*box-shadow: 10px 61px 88px -53px black;*/
  box-shadow: 0px 10px 70px -23px #FF2525, 0px 30px 100px 0px rgba(0,0,0,0.5);
  letter-spacing: 5px;
  opacity: 0.8;
}

.section-button:hover {
  background-position: right center;
  opacity: 1;
}

.section-button a {
  color: white;
  width: 100%;
  text-transform: uppercase;
  /*letter-spacing: 7px;*/
}

.number-icons li {
  width: 30%;
  margin: 0;
}

.number-icons span {
  font-size: 2em;
  font-family: "Lato"
}

.number-icons p {
  font-size: 0.8em;
  text-transform: uppercase;
}

.rounded-corners {
  border-radius: 10px;
}

.rounded-corners-bottom {
  border-radius: 0 0 10px 10px;
}

.whitish-background {
  background-color: rgb(240 240 240);
}
